
<div class="col-xl-3 col-sm-4">
  <img src={{IMG_PATH}}{{poster_path}} alt="Cartel">
  <ul class="list-group">
  <li class="list-group-item active">{{title}}</li>
  <li class="list-group-item">Fecha de estreno: {{release_date}}</li>
  <li class="list-group-item">Popularidad: {{popularity}}</li>
  <li class="list-group-item">Valoración usuarios: {{vote_average}}</li>
  <a href="/film/{{id}}"><li class="list-group-item">Más info.</li>
  </a>
  </ul>
  </div>


