


{{!-- {{#with films}}
    <div class="card bg-dark text-white">
  <img src="{{../FONDO_PATH}}{{backdrop_path}}" class="card-img" alt="Cartel">
  <div class="card-img-overlay">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{overview}}</p>
    <p class="card-text">{{release_date}}</p>
  </div>
</div>
{{/with}}
 --}}

{{#with films}}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <img src="{{../FONDO_PATH}}{{backdrop_path}}" class="card-img" alt="Cartel">
  <div class="card-img-overlay">
    <h1 class="display-4">{{title}}</h1>
    <p class="lead">{{overview}}</p>
  </div>
</div>
{{/with}}